<content class="landing">


  <section class="landing-modal">




    <section class="landing-modal-title">
      <a href="<%= root_url %>" >
        <h1>Quenchd</h1>
        <h2>DRINK UP!</h2>
      </a>
    </section>
    <form class="landing-form" action="<%= users_url %>" method="post">
      <%= auth_token %>

      <div class="sign-up group">
        <input placeholder="Username" type="text" name="user[username]" value="<%= @user.username %>">
        <input placeholder="Email" type="text" name="user[email]" value="<%= @user.email %>">
        <input placeholder="Password" type="password" name="user[password]" value="<%= @user.password %>">


        <input placeholder="Password Confirmation" type="password" name="user[password_confirmation]" value="<%= @user.password %>">

        <input placeholder="Location" type="text" name="user[location]" value="<%= @user.location %>">
        <input class="dob" type="date" name="user[dob]" value="<%= @user.dob %>">
      </div>

      <p class="disclaimer">You must be of legal drinking age in your country to join Quenchd. By clicking Create Account, you agree to our Terms of Use and our Privacy Policy</p>
      <input class="landing-form-button" type="submit" value="Sign Up"></input>
    </form>


  </section>

</content>
