<header>
  <nav class="header-nav group">
    <section class="header-left">
      <section class="header-title">
        <a href="/#/">
          <h3>QUENCHD</h3>
          <h6>DRINK UP!</h6>
        </a>


      </section>
      <ul class="header-links group">
        <li><a href="#">The Pub</a></li>
        <li><a href="#">Best Beers</a></li>
      </ul>
    </section>

    <section class="header-right group">
      <nav class="user-navigation">
        <img src="<%= asset_path(current_user.image.url(:small)) %>" />
        <ul class="user-navigation-dropdown">
          <li><a href="<%= root_url %>">Recent Activity</a></li>
          <li><a href="/#/users/<%= current_user.id %>"> My Profile</a></li>
          <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>
          <li>
            <form action="<%= session_url %>" method="post">
              <input class="log-out" type="submit" value="Log Out">
              <%= auth_token %>
              <input type="hidden" name="_method" value="delete">
            </form>
          </li>
        </ul>
      </nav>

      <form id="search-bar">
      </form>
  </section>


  </nav>
</header>
