<!DOCTYPE html>
<html>
<head>
  <title>Quenchd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application',  %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash %>
  <% flash.each do |key, values| %>
    <% values.each do |message|%>
      <h5><%= message %></h5>
    <% end %>
  <% end %>
<% end %>

<%= yield %>
<% if logged_in? %>
  <form action="<%= session_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
<% end %>

</body>
</html>
